*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    color: #D5D4D8;
}

.container {
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 1.5em 0.75em;
}

button,
select {
    font-family: 'Inter', sans-serif;
    color: #D5D4D8;
    border-radius: 5px;
}

.color-input,
.mode,
.get-btn { height: 42px; }

.color-input {
    width: 62px;
    flex-shrink: 0;
    border: 0.5px solid #D1D5DB;
    cursor: pointer;
}
.color-input::-webkit-color-swatch-wrapper {
	padding: 3px;
}
.color-input::-webkit-color-swatch {
    border: 0.5px solid #313131;
}

.mode {
    background-color: #1F293A;
    border: 1px solid #D1D5DB;
    font-size: 1rem;
    flex: auto;
    padding-inline: 12px;
    cursor: pointer;
}

.get-btn {
    background-color: #3D4B60;
    font-weight: 500;
    font-size: 0.75rem;
    border: none;
    padding-inline: 12px;
    cursor: pointer;
}

.get-btn:active { transform: scale(0.95); }

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-strip { height: 416px; }

.color-name {
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    color: #D5D4D8;
    margin-block: 10px;
}

/* media query */

@media (min-width:551px) {
    .container {
        width: 550px;
        margin-inline: auto;
    }
}

@media (max-width:400px) {
    header { flex-direction: column; }
    .color-name { font-size: 0.6rem; }
}
